
@{
    ViewBag.Title = "DeveloperBlogDetay";
    Layout = "~/Views/Shared/_AnimexEntertainmentAdmin.cshtml";
}


<center><h2>Developer Blog Güncelleme Ekranı</h2></center>


<input type="hidden" value="@ViewData["devblogID"].ToString()" id="ID" name="ID" />

<div class="form-group">
    <div class="col-md-12">
        <div class="col-md-1">
            <label for="login-username"><i class="icon-user"></i> <b>İçerik Alanı:</b></label>
        </div>
        <div class="col-md-11">
            <textarea id="developerblogaciklama" name="developerblogaciklama">@ViewData["developerblogDetay"].ToString()</textarea>
        </div>
    </div>
    &nbsp;
    &nbsp;

    <div class="col-md-12">
        <center><button type="button" onclick="devblogguncelle()" class="btn btn-success">Gizlilik Politikası Güncelle</button>   <button class="btn" onclick="    geri()">Geri</button></center>
    </div>
</div>





<script type="text/javascript">CKEDITOR.replace("developerblogaciklama") </script>

<script>
    var devblogguncelle = function () {





        var ID = $("#ID").val();

        var DevBlog_Description = CKEDITOR.instances.developerblogaciklama.getData();

        var verigonder =
            {
                ID: ID,

                DevBlog_Description: DevBlog_Description,

            }
        $.ajax({
            type: "post",
            url: "/Account/DeveloperBlog_guncelle",
            data: verigonder,
            dataType: "json",

        }).done(function (data) {

            if (data == "ok") {

                alert("Güncellendi");

                location.reload();
            }



        });


    }

</script>