
@{
    ViewBag.Title = "KullanimSartlariDetay";
    Layout = "~/Views/Shared/_AnimexEntertainmentAdmin.cshtml";
}


<center><h2>Kullanım Şartları Güncelleme Ekranı</h2></center>


<input type="hidden" value="@ViewData["SartID"].ToString()" id="ID" name="ID" />

<div class="form-group">
    <div class="col-md-12">
        <div class="col-md-1">
            <label for="login-username"><i class="icon-user"></i> <b>İçerik Alanı:</b></label>
        </div>
        <div class="col-md-11">
            <textarea id="SartAciklama" name="SartAciklama">@ViewData["Sartİcerik"].ToString()</textarea>
        </div>
    </div>
    &nbsp;
    &nbsp;

    <div class="col-md-12">
        <center><button type="button" onclick="sartguncelle()" class="btn btn-success">Kullanım Şartları Güncelle</button>   <button class="btn" onclick="    geri()">Geri</button></center>
    </div>
</div>





<script type="text/javascript">CKEDITOR.replace("SartAciklama") </script>

<script>
    var sartguncelle = function () {





        var SartID = $("#ID").val();

        var Sart_Detail = CKEDITOR.instances.SartAciklama.getData();

        var verigonder =
            {
                TermsID: SartID,
                
                Terms_Detail: Sart_Detail,

            }
        $.ajax({
            type: "post",
            url: "/Account/kullanimsartlariguncelle",
            data: verigonder,
            dataType: "json",

        }).done(function (data) {

            if (data == "ok") {

                alert("Güncellendi");

                location.reload();
            }



        });


    }

</script>